@header-height: 4em;
@slidemenu-width: 12em;

html, body {
  overflow-x: hidden;
}

#wrap, #content, #header, #menu {
  transition: all 0.2s ease;
}

#wrap {
  position: relative;
  padding: 0;
  background: @back;
  min-height: 100%;
}

#wrap.active {
  left: @slidemenu-width;
}

#wrap.active #menu {
  left: @slidemenu-width;
}

#content-wrap {
  background-color: @back;
  z-index: 10;
  overflow: auto;
  box-shadow: -30px -@header-height 30px 0px rgba(0,0,0,0.5);
}

.container {
  width: 100%;
}

#menu {
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
  bottom: 0;
  min-height: 100%;
  width: @slidemenu-width;
  margin-left: -@slidemenu-width;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

}

#content {
  position: relative;
  margin-top: @header-height;
  
}

#sidebar {
  width: 100%;
  padding: 0 1em;
}


//TABLET RESPONSIVE
@media @break-tablet {
  #wrap {
    width: 100%;
  }
  
  #menu {
    position: relative;
    z-index: 10;
    top: 0;
    left: 0;
    min-height: 0;
    width: 100%;
    margin-left: 0;
    display: block;
    overflow-y: visible;
  }
  
  #content-wrap {
    z-index: 0;
    box-shadow: 0 0 0 0;
  }
  
  #content { 
    margin: 0;
    padding: 0 1em;
  }

}

// DESKTOP RESPONSIVE
@media @break-desktop {

  @sidebar-width: 18em;
  
  .container {
    max-width: 74em;
    margin: 0 auto;
    padding: 0 0.5em;
  }
  
  #content {
    float: left;
    margin-right: @sidebar-width;
    padding: 0 2em 0 0;
  }
  
  #sidebar {
    width: @sidebar-width;
    float: right;
    margin-left: -@sidebar-width;
    padding: 0;
  }
  
}