#menu {
  padding: 1em 1em 1em 1em;
  background: @dark;
  .sans-alt;
  font-size: 1.1em;
  color: @linkhigh;
  text-align: left;
  
  a {
    color: @lgray;
    font-weight: 700;
  }

  a:hover {
    text-decoration: none;
    color: @high;
  }

  a.selected {
    background-color: @high;
  }
  
  }

#canon-toggle {
  display: none;
}

#dropmenu {
  list-style-type: none;
  margin: 0;

}

#dropmenu li {
  margin: 0;
  padding: 0.5em 0;
  text-transform: uppercase;
  border-bottom: 3px solid darken(@dark, 5%);
  &:last-of-type {
    border: 0;
  }
}
#menu-logo {
  display: none;
  height: 2.5em;
}


@media @break-tablet {
  
  #menu {
    height: 4.5em;
  }
  
  #canon-toggle {
    display: block;
  }
  
  #menu-logo {
    float: left;
    display: inline;
    margin-right: 2em;
  }
  
  #canon-menu {
    float: left;
    position: relative;
    z-index: 10;
    
  }
  
  #canon-toggle {
    display: block;
    background: lighten(@dark, 5%);
    padding: 0.5em 1em;
  }
  
  #dropmenu {
    display: none;
    background: @dark;
    z-index: 10;
    position: absolute;
    padding: 1em;
    transition: all 0.2s ease;
  }
  
  #canon-menu:hover, #canon-menu:focus, #canon-menu:active {
    #dropmenu {
      display: block;
    }
  }
  
}
